html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-color: purple;
    font-family: sans-serif;
}
label{
    padding: 0px 30px;
    border: 1px ;
   
    font-weight: bold;
}


body {
    z-index: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(red, purple);
    background-size: 100%, auto;

   
}

h1 {
    text-align: center;
}

.container{
    border: 3px solid white;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: 30em;
   
    background-color:rgba(255, 0, 0, 0.459);
    background-image: linear-gradient(yellow, pink);
    border-radius: 20px;
    
    margin:auto;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 10px #ffffff85;
}
.row {
    display: flex;
    justify-content: center;
    flex: 1;
 
}
.column {
    padding: 15px;;
    max-width: 10em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.important{
    display: inline-flex;
}
.radio {
    display: flex;
    flex-direction: column;
}
.submit {
    margin: auto;
    margin-bottom: 0.5em;
}

.btn{
    border-radius: 12px;
    border: 0.5px solid gray;
    color: black;
    padding: 5px 7px;
    text-align: end;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background-color: blue;

}

h1,h2 {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container2 {
    box-shadow: 0 0 20px 10px #ffffff85;
    flex:1;
    display: flex;
    margin: auto;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
    max-width: 1000px;
    margin-bottom: 1em;
    background-image: linear-gradient(yellow, pink);    
}

.taskcate{
    text-align: center;
}
.delete{
    text-align: center;
}

.importantvalue {
    display: inline;
    border: 1px solid ;
    border-radius: 20%;
    color: white;
    margin: auto;
    background-color: purple;
    background-image: linear-gradient(purple, purple);
    font-size: 20px;
    padding:5px 5px;
}
.importantvaluelist{
    display:inline-block ;
    border: 1px solid black;
    border-radius: 20%;
    color: white;
    margin: auto;
    background-color: purple;
    font-size: 15px;
    padding:2px 5px;
}

#label{
    text-align: center;
}

.column{
    text-align: left;
    margin: 0 auto;
}

.item2 {
    resize: none;
}

footer{
    box-shadow: 0 0 20px 10px #ffffff85;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(yellow, pink);
    border: 2px solid white;
    bottom: 0;
    
}
.deletebtn{
    border-radius: 12px;
    border: 0.5px solid gray;
    color: black;
    padding: 5px 7px;
    text-align: end;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.deletebtn:hover{
    color: black;
    background-color: blue;
}